.h1 {
    background-color: chocolate;
    color: white;
    padding-left: 20px;
}
.h2 {
    background-color: cornflowerblue;
    font-family: Consolas, monospace;
    font-size: small;
    text-align: center;
    color: white;
    padding: 2rem;
}
.h3 {
    text-align: right;
}